#================================================
# Directories
#================================================
/**/libs/
/**/build/
/**/bin/
/**/tmp/
/**/uploads/
/**/eclipse/
/**/.hg/
/**/.settings/

#================================================
# Files
#================================================
/**/*.lst
/**/*.m51
/**/*.obj
/**/*.htm
/**/*.lnp
/**/*.uvgui.*
/**/*.uvopt
/**/*.uvproj
/**/*.pdsbak
/**/*.workspace
/**/debug.txt
/**/*.qmake.*
/**/*.Debug
/**/*.Release
/**/*.cproject
/**/*.project
/**/*.DSW
/**/*.bak
/**/*.csm
/**/*.exe
/**/*.ide
/**/*.ilc
/**/*.ild
/**/*.ilf
/**/*.ils
/**/*.mbt
/**/*.mrt
/**/*.tds
/**/*.~de
/**/*.OBR
/**/*.res
/**/*.rc
/**/*.docx
/**/*.pdsprj
