#================================================
# Directories
#================================================
/**/libs/
/**/build/
/**/bin/
/**/tmp/
/**/uploads/

#================================================
# Files
#================================================
/**/*.lst
/**/*.m51
/**/*.obj
/**/*.htm
/**/*.lnp
/**/*.uvgui.*
/**/*.uvopt
/**/*.uvproj
/**/*.pdsbak
/**/*.workspace
/**/debug.txt
