/* ============================================== */
/* QWidget */
/* ============================================== */
QWidget {
	background-color: transparent;
	color: #eeeeee;
	font-family: Allan;
	font-size: 18px;
}
/* ============================================== */
/* QDialog */
/* ============================================== */
QDialog {
	background-color: #111133;
	border: 2px solid #aaaaff;
}
/* ============================================== */
/* QFrame */
/* ============================================== */
QFrame#GModuleUi {
	background-color: #111133;
	border: 2px solid #aaaaff;
}
/* ============================================== */
/* QMainWindow */
/* ============================================== */
QMainWindow {
	background-color: #111133;
	border: 2px solid #aaaaff;
}
/* ============================================== */
/* QMdiArea */
/* ============================================== */
QMdiArea {
	qproperty-background: transparent;
}
/* ============================================== */
/* QMenu */
/* ============================================== */
QMenu {
    border: 1px solid #aaaaff;
	background-color: #111133;
}
QMenu::item:selected { 
	background-color: rgba(255, 255, 255, 0.2);
}
/* ============================================== */
/* QPushButton */
/* ============================================== */
QPushButton {
	background-color: transparent;
	border: 2px solid #aaaaff;
	padding: 2px 5px;
	border-radius: 5px;
	text-align: left;
}
QPushButton:hover {
	background-color: rgba(255, 255, 255, 0.2);
}
QPushButton:pressed {
	background-color: transparent;
}
QPushButton:disabled {
	background-color: #555555;
	border: 2px solid #aaaaaa;
    color: #aaaaaa;
}
/* ============================================== */
/* QLineEdit */
/* ============================================== */
QLineEdit {
	background-color: transparent;
	border: 2px solid #aaaaff;
	padding: 0px 5px;
	border-radius: 5px;
}
/* ============================================== */
/* QMessageBox */
/* ============================================== */
QMessageBox {
	background-color: #111133;
	border: 2px solid #aaaaff;
}
QMessageBox QDialogButtonBox#qt_msgbox_buttonbox QPushButton {
	background-color: transparent;
	border: 2px solid #aaaaff;
	padding: 2px 5px;
	border-radius: 5px;
}
QMessageBox QDialogButtonBox#qt_msgbox_buttonbox QPushButton:hover {
	background-color: rgba(255, 255, 255, 0.2);
}
QMessageBox QDialogButtonBox#qt_msgbox_buttonbox QPushButton:pressed {
	background-color: transparent;
}
/* ============================================== */
/* QTabWidget */
/* ============================================== */
QTabWidget::pane {
    border: 2px solid #aaaaff;
}
QTabWidget::tab-bar {
    left: 10px;
}
QTabWidget QTabBar::tab {
    background: transparent;
    border: 2px solid transparent;
    border-bottom-color: transparent;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    min-width: 8ex;
	padding: 0px 5px;
}
QTabWidget QTabBar::tab:selected, 
QTabBar::tab:hover {
    background: transparent;
}
QTabWidget QTabBar::tab:selected {
    border-color: #aaaaff;
    border-bottom-color: transparent;
}
QTabWidget QTabBar::tab:!selected {
    margin-top: 2px;
}
/* ============================================== */
/* QTableView */
/* ============================================== */
QTableView {
	border: 1px solid #aaaaff;
}
QTableView {
    gridline-color: transparent;
    border: none;
    padding: 0px;
    background-color: transparent;
}
QTableView::item {
	background-color: transparent;
	border: 1px solid #aaaaff;
	padding: 0px 10px;
    border-collapse: collapse;
}
QTableView::item:selected {
	background-color: rgba(255, 255, 255, 0.2);
	color: cyan;
}
/* ============================================== */
/* QTreeWidget */
/* ============================================== */
QTreeWidget {
	border: 1px solid #aaaaff;
}
QTreeView {
	border: 1px solid #aaaaff;
}
QTreeView {
    gridline-color: transparent;
    border: none;
    padding: 0px;
    background-color: transparent;
}
QTreeView::item {
	background-color: transparent;
	border: 1px solid #aaaaff;
	padding: 0px 10px;
    border-collapse: collapse;
}
QTreeView::item:selected {
	background-color: rgba(255, 255, 255, 0.2);
	color: cyan;
}
QTreeView::branch:has-children:!has-siblings:closed,
QTreeView::branch:closed:has-children:has-siblings {
    border-image: none;
    image: url(:/img/chevron_right.png);
}

QTreeView::branch:open:has-children:!has-siblings,
QTreeView::branch:open:has-children:has-siblings  {
    border-image: none;
    image: url(:/img/chevron_down.png);
}
/* ============================================== */
/* QHeaderView */
/* ============================================== */
QHeaderView::section {
    background-color: #5555AA;
	border: 1px solid #aaaaff;
}
QHeaderView::section:vertical {
	padding: 0px 10px;
}
QHeaderView::section:horizontal {
	padding: 0px 10px;
}
/* ============================================== */
/* QTableCornerButton */
/* ============================================== */
QTableCornerButton::section {
    background-color: transparent;
}
/* ============================================== */
