/* ============================================== */
/* QWidget */
/* ============================================== */
QWidget {
	background-color: transparent;
	color: #eeeeee;
	font-family: allan;
	font-size: 18px;
}
/* ============================================== */
/* QMainWindow */
/* ============================================== */
QMainWindow {
	background-color: #111133;
}
/* ============================================== */
QMainWindow#flat {
	border: 2px solid #aaaaff;
}
/* ============================================== */
/* QDialog */
/* ============================================== */
QDialog {
	background-color: #111133;
	border: 2px solid #aaaaff;
}
/* ============================================== */
/* QMessageBox */
/* ============================================== */
QMessageBox QDialogButtonBox#qt_msgbox_buttonbox QPushButton {
	background-color: transparent;
	border: 2px solid #aaaaff;
	padding: 2px 5px;
	border-radius: 5px;
}
QMessageBox QDialogButtonBox#qt_msgbox_buttonbox QPushButton:hover {
	background-color: rgba(255, 255, 255, 0.2);
}
QMessageBox QDialogButtonBox#qt_msgbox_buttonbox QPushButton:pressed {
	background-color: transparent;
}
/* ============================================== */
/* QFrame */
/* ============================================== */
QFrame {
	background-color: #111133;
}
/* ============================================== */
QFrame#flat {
	border: 2px solid #aaaaff;
}
/* ============================================== */
QFrame#bottom {
	border-bottom: 2px solid #aaaaff;
}
/* ============================================== */
/* QLineEdit */
/* ============================================== */
QLineEdit#flat {
	background-color: transparent;
	border: 2px solid #aaaaff;
	padding: 2px 5px;
	border-radius: 5px;
}
/* ============================================== */
QLineEdit#flat_icon {
	background-color: transparent;
	border: 2px solid #aaaaff;
	padding: 2px 5px;
	padding-left: 25px;
	border-radius: 5px;
}
/* ============================================== */
QLineEdit#flat_icon_clear {
	background-color: transparent;
	border: 2px solid #aaaaff;
	padding: 2px 5px;
	padding-left: 25px;
	padding-right: 20px;
	border-radius: 5px;
}
/* ============================================== */
/* QMenu */
/* ============================================== */
QMenu {
    border: 1px solid #aaaaff;
	background-color: #111133;
}
QMenu::item:selected { 
	background-color: rgba(255, 255, 255, 0.2);
}
/* ============================================== */
/* QPushButton */
/* ============================================== */
QPushButton {
	border: none;
}
/* ============================================== */
QPushButton#appname {
	font-family: allan;
	font-size: 18px;
}
/* ============================================== */
QPushButton#flat {
	background-color: transparent;
	border: 2px solid #aaaaff;
	padding: 2px 5px;
	border-radius: 5px;
	text-align: left;
}
QPushButton#flat:hover {
	background-color: rgba(255, 255, 255, 0.2);
}
QPushButton#flat:pressed {
	background-color: transparent;
}
/* ============================================== */
QPushButton#bgcolor {
	background-color: rgba(255, 255, 255, 0.2);
	border: none;
	padding: 2px 5px;
	border-radius: 5px;
	text-align: left;
}
QPushButton#bgcolor:hover {
	background-color: rgba(255, 255, 255, 0.4);
}
QPushButton#bgcolor:pressed {
	background-color: transparent;
}
/* ============================================== */
QPushButton#icon {
	padding: 5px;
}
QPushButton#icon:hover {
	background-color: rgba(255, 255, 255, 0.2);
}
QPushButton#icon:pressed {
	background-color: transparent;
}
/* ============================================== */
QPushButton#left {
	text-align: left;
}
/* ============================================== */
/* QLabel */
/* ============================================== */
QLabel#flat_message {
	color: #ffaaaa;
}
/* ============================================== */
/* QTextEdit */
/* ============================================== */
QTextEdit#code {
	font-family: courier;
	padding: 5px;
}
/* ============================================== */
/* QSizeGrip */
/* ============================================== */
QSizeGrip {
    background-color: rgba(255, 255, 255, 0.2);
}
/* ============================================== */
/* QTabWidget */
/* ============================================== */
QTabWidget#flat::pane {
    border: 2px solid #aaaaff;
}
QTabWidget#flat::tab-bar {
    left: 10px;
}
QTabWidget#flat QTabBar::tab {
    background: transparent;
    border: 2px solid transparent;
    border-bottom-color: transparent;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    min-width: 8ex;
    padding: 2px 10px;
}
QTabWidget#flat QTabBar::tab:selected, 
QTabBar::tab:hover {
    background: transparent;
}
QTabWidget#flat QTabBar::tab:selected {
    border-color: #aaaaff;
    border-bottom-color: transparent;
}
QTabWidget#flat QTabBar::tab:!selected {
    margin-top: 2px;
}
/* ============================================== */
QTableWidget#flat {
    gridline-color: transparent;
    border: none;
    padding: 0px;
    background-color: transparent;
}
QTableWidget#flat::item {
	background-color: transparent;
	border: 1px solid #aaaaff;
	padding: 0px 10px;
}
QTableWidget#flat::item:selected {
	background-color: rgba(255, 255, 255, 0.2);
}
QTableWidget#flat QHeaderView::section {
    background-color: #5555AA;
	border: 1px solid #aaaaff;
}
QTableWidget#flat QHeaderView::section:vertical {
	padding: 0px 10px;
}
QTableWidget#flat QHeaderView::section:horizontal {
	padding: 0px 10px;
}
QTableWidget#flat QTableView {
	border: 1px solid #aaaaff;
}
QTableWidget#flat QTableCornerButton::section {
    background-color: transparent;
}
/* ============================================== */
